<div class="abilities-section">
  <!-- <div class="abilities-title">
    <h1>Habilidades</h1>
  </div> -->
  <div class="abilities-image-section">
    <img src="white-wolf-haracter-sheet/assets/images/vampire-dark-ages/sections/abilities.png">
  </div>
  <div class="attributes-container">
    <arm-talents [talents]="abilities.talents"></arm-talents>
    <arm-skills [skills]="abilities.skills"></arm-skills>
    <arm-knowledges [knowledges]="abilities.knowledges"></arm-knowledges>
  </div>
</div>


