<div class="abilities-section">
  <!-- <div class="abilities-title">
    <h1>Habilidades</h1>
  </div> -->
  <div class="abilities-image-section">
    <img src="../../../../assets/images/vampire-dark-ages/sections/abilities.png">
  </div>
  <div class="attributes-container">
    <div class="talents">
      <h2>Talentos</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Alerta'"
        [(value)]="abilities.talents.alertness"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Atletismo'"
        [(value)]="abilities.talents.athletics"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Empatía'"
        [(value)]="abilities.talents.emptahy"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Esquivar'"
        [(value)]="abilities.talents.dodge"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Expresión'"
        [(value)]="abilities.talents.expression"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Intimidación'"
        [(value)]="abilities.talents.intimidation"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Liderazgo'"
        [(value)]="abilities.talents.leadership"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Pelea'"
        [(value)]="abilities.talents.brawl"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Prestidigitación'"
        [(value)]="abilities.talents.legerdemain"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Subterfugio'"
        [(value)]="abilities.talents.subterfuge"
      ></arm-circle-input>
    </div>
    <div class="skills">
      <h2>Técnicas</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Armas C. C.'"
        [(value)]="abilities.skills.melee"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Comercio'"
        [(value)]="abilities.skills.commerce"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Equitación'"
        [(value)]="abilities.skills.ride"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Etiqueta'"
        [(value)]="abilities.skills.etiquette"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Interpretación'"
        [(value)]="abilities.skills.performance"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Pericias'"
        [(value)]="abilities.skills.crafts"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Sigilo'"
        [(value)]="abilities.skills.stealth"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Supervivencia'"
        [(value)]="abilities.skills.survival"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Trato con Animales'"
        [(value)]="abilities.skills.animalKen"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Tiro con Arco'"
        [(value)]="abilities.skills.archery"
      ></arm-circle-input>
    </div>
    <div class="knowledges">
      <h2>Conocimientos</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Academicismo'"
        [(value)]="abilities.knowledges.academics"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Investigación'"
        [(value)]="abilities.knowledges.investigation"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Leyes'"
        [(value)]="abilities.knowledges.law"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Lingüística'"
        [(value)]="abilities.knowledges.linguistics"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Medicina'"
        [(value)]="abilities.knowledges.medicine"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Ocultismo'"
        [(value)]="abilities.knowledges.occult"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Política'"
        [(value)]="abilities.knowledges.politics"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Sabiduría popular'"
        [(value)]="abilities.knowledges.hearthWisdom"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Senescal'"
        [(value)]="abilities.knowledges.seneschal"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Teología'"
        [(value)]="abilities.knowledges.theology"
      ></arm-circle-input>
    </div>
  </div>
</div>


