<div class="abilities-section">
  <div class="abilities-title">
    <h1>Habilidades</h1>
  </div>
  <div class="abilities-image-section">
    <img src="assets/images/vampire-dark-ages/sections/abilities.png">
  </div>
  <div class="attributes-container">
    <arm-talents [characterSheet]="characterSheet" class="talents"></arm-talents>
    <arm-skills [characterSheet]="characterSheet" class="skills"></arm-skills>
    <arm-knowledges [characterSheet]="characterSheet" class="knowledges"></arm-knowledges>
  </div>
</div>


