<h2 class="sub-category">
  <span>{{ 'sheet.advantages.virtues.title' | translate }}</span>
</h2>
<arm-circle-input
  [circleAmount]="5"
  [label]="'sheet.advantages.virtues.conscienceConviction'"
  [value]="characterSheet.advantages.virtues.conscienceConviction"
></arm-circle-input>
<arm-circle-input
  [circleAmount]="5"
  [label]="'sheet.advantages.virtues.selfControlInstint'"
  [value]="characterSheet.advantages.virtues.selfControlInstint"
></arm-circle-input>
<arm-circle-input
  [circleAmount]="5"
  [label]="'sheet.advantages.virtues.courage'"
  [value]="characterSheet.advantages.virtues.courage"
></arm-circle-input>
