<div>
  <h2>{{ 'sheet.abilities.talents.title' | translate }}</h2>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.alertness'"
    [value]="characterSheet.abilities.talents.alertness"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'alertness')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.athletics'"
    [value]="characterSheet.abilities.talents.athletics"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'athletics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.emptahy'"
    [value]="characterSheet.abilities.talents.emptahy"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'emptahy')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.dodge'"
    [value]="characterSheet.abilities.talents.dodge"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'dodge')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.expression'"
    [value]="characterSheet.abilities.talents.expression"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'expression')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.intimidation'"
    [value]="characterSheet.abilities.talents.intimidation"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'intimidation')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.leadership'"
    [value]="characterSheet.abilities.talents.leadership"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'leadership')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.brawl'"
    [value]="characterSheet.abilities.talents.brawl"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'brawl')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.legerdemain'"
    [value]="characterSheet.abilities.talents.legerdemain"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'legerdemain')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.talents.subterfuge'"
    [value]="characterSheet.abilities.talents.subterfuge"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'subterfuge')"
  ></arm-circle-input>
  <arm-circle-input
    *ngFor="let talent of characterSheet.abilities.talents.customTalents; index as i; trackBy: trackByFn"
    [circleAmount]="8"
    [isPermanent]="false"
    [label]="talent.name"
    [value]="talent.level"
    [isEditable]="characterSheet.isEditable"
    (onDelete)="deleteCustomTalents(i)"
    (onValueChange)="updateValuerFromCustomProperty($event, i)"
  ></arm-circle-input>
  <arm-add-custom-property-button
    *ngIf="characterSheet.isEditable"
    [propertyType]="propertyType"
    [customPropertyList]="characterSheet.abilities.talents.customTalents"
  ></arm-add-custom-property-button>
</div>
