<div>
  <h2>Talentos</h2>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Alerta'"
    [value]="characterSheet.abilities.talents.alertness"
    (onValueChange)="updateValueFromProperty($event, 'alertness')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Atletismo'"
    [value]="characterSheet.abilities.talents.athletics"
    (onValueChange)="updateValueFromProperty($event, 'athletics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Empatía'"
    [value]="characterSheet.abilities.talents.emptahy"
    (onValueChange)="updateValueFromProperty($event, 'emptahy')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Esquivar'"
    [value]="characterSheet.abilities.talents.dodge"
    (onValueChange)="updateValueFromProperty($event, 'dodge')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Expresión'"
    [value]="characterSheet.abilities.talents.expression"
    (onValueChange)="updateValueFromProperty($event, 'expression')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Intimidación'"
    [value]="characterSheet.abilities.talents.intimidation"
    (onValueChange)="updateValueFromProperty($event, 'intimidation')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Liderazgo'"
    [value]="characterSheet.abilities.talents.leadership"
    (onValueChange)="updateValueFromProperty($event, 'leadership')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Pelea'"
    [value]="characterSheet.abilities.talents.brawl"
    (onValueChange)="updateValueFromProperty($event, 'brawl')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Prestidigitación'"
    [value]="characterSheet.abilities.talents.legerdemain"
    (onValueChange)="updateValueFromProperty($event, 'legerdemain')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Subterfugio'"
    [value]="characterSheet.abilities.talents.subterfuge"
    (onValueChange)="updateValueFromProperty($event, 'subterfuge')"
  ></arm-circle-input>
  <arm-circle-input
    *ngFor="let talent of characterSheet.abilities.talents.customTalents; index as i; trackBy: trackByFn"
    [circleAmount]="8"
    [isPermanent]="false"
    [label]="talent.name"
    [value]="talent.level"
    (onDelete)="deleteCustomTalents(i)"
    (onValueChange)="updateValuerFromCustomProperty($event, i)"
  ></arm-circle-input>
  <arm-add-custom-property-button
    [propertyType]="propertyType"
    [customPropertyList]="characterSheet.abilities.talents.customTalents"
  ></arm-add-custom-property-button>
</div>
