<div class="talents">
  <h2>Talentos</h2>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Alerta'"
    [(value)]="talents.alertness"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Atletismo'"
    [(value)]="talents.athletics"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Empatía'"
    [(value)]="talents.emptahy"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Esquivar'"
    [(value)]="talents.dodge"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Expresión'"
    [(value)]="talents.expression"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Intimidación'"
    [(value)]="talents.intimidation"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Liderazgo'"
    [(value)]="talents.leadership"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Pelea'"
    [(value)]="talents.brawl"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Prestidigitación'"
    [(value)]="talents.legerdemain"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Subterfugio'"
    [(value)]="talents.subterfuge"
  ></arm-circle-input>
  <arm-circle-input
    *ngFor="let talent of talents.customTalents; index as i; trackBy: trackByFn"
    [circleAmount]="8"
    [label]="talent.name"
    [(value)]="talent.level"
  ></arm-circle-input>
  <button mat-raised-button (click)="addCustomTalent()"></button>
</div>
