<div class="knowledges">
  <h2>Conocimientos</h2>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Academicismo'"
    [(value)]="knowledges.academics"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Investigación'"
    [(value)]="knowledges.investigation"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Leyes'"
    [(value)]="knowledges.law"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Lingüística'"
    [(value)]="knowledges.linguistics"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Medicina'"
    [(value)]="knowledges.medicine"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Ocultismo'"
    [(value)]="knowledges.occult"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Política'"
    [(value)]="knowledges.politics"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Sabiduría popular'"
    [(value)]="knowledges.hearthWisdom"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Senescal'"
    [(value)]="knowledges.seneschal"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Teología'"
    [(value)]="knowledges.theology"
  ></arm-circle-input>
  <arm-circle-input
    *ngFor="let knowledge of knowledges.customKnowled; index as i; trackBy: trackByFn"
    [circleAmount]="8"
    [label]="knowledge.name"
    [(value)]="knowledge.level"
  ></arm-circle-input>
  <mat-icon class="add-button"mat-raised-button (click)="addCustomKnowledge()" aria-hidden="false">add_circle_outline</mat-icon>
</div>
