<div>
  <h2 class="sub-title">{{ 'sheet.abilities.knowledges.title' | translate }}</h2>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.academics'"
    [value]="characterSheet.abilities.knowledges.academics"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'academics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.investigation'"
    [value]="characterSheet.abilities.knowledges.investigation"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'investigation')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.law'"
    [value]="characterSheet.abilities.knowledges.law"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'law')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.linguistics'"
    [value]="characterSheet.abilities.knowledges.linguistics"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'linguistics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.medicine'"
    [value]="characterSheet.abilities.knowledges.medicine"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'medicine')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.occult'"
    [value]="characterSheet.abilities.knowledges.occult"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'occult')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.politics'"
    [value]="characterSheet.abilities.knowledges.politics"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'politics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.hearthWisdom'"
    [value]="characterSheet.abilities.knowledges.hearthWisdom"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'hearthWisdom')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.seneschal'"
    [value]="characterSheet.abilities.knowledges.seneschal"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'seneschal')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.theology'"
    [value]="characterSheet.abilities.knowledges.theology"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateValueFromProperty($event, 'theology')"
  ></arm-circle-input>
  <arm-circle-input
    *ngFor="let knowledge of characterSheet.abilities.knowledges.customKnowledges; index as i; trackBy: trackByFn"
    [circleAmount]="8"
    [label]="knowledge.name"
    [value]="knowledge.level"
    [isPermanent]="false"
    [isEditable]="characterSheet.isEditable"
    (onDelete)="deleteCustomProperty(i)"
    (onValueChange)="updateValuerFromCustomProperty($event, i)"
  ></arm-circle-input>
  <arm-add-custom-property-button
    *ngIf="characterSheet.isEditable"
    [propertyType]="propertyType"
    [customPropertyList]="characterSheet.abilities.knowledges.customKnowledges"
  ></arm-add-custom-property-button>
</div>
