<div>
  <h2 class="sub-title">{{ 'sheet.abilities.knowledges.title' | translate }}</h2>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.academics'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.academics"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'academics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.investigation'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.investigation"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'investigation')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.law'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.law"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'law')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.linguistics'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.linguistics"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'linguistics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.medicine'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.medicine"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'medicine')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.occult'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.occult"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'occult')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.politics'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.politics"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'politics')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.hearthWisdom'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.hearthWisdom"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'hearthWisdom')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.seneschal'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.seneschal"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'seneschal')"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'sheet.abilities.knowledges.theology'"
    [specialties]="characterSheet.specialties"
    [experiences]="characterSheet.experiences"
    (onSpecialtyClick)="specialty.showChosenFor($event, characterSheet.specialties, characterSheet.experiences)"
    [value]="characterSheet.abilities.knowledges.theology"
    [isEditable]="characterSheet.isEditable"
    (onValueChange)="updateProperty($event, 'theology')"
  ></arm-circle-input>
  <arm-circle-input
    *ngFor="let knowledge of characterSheet.abilities.knowledges.customKnowledges; index as i; trackBy: trackByFn"
    [circleAmount]="8"
    [label]="knowledge.name"
    [value]="knowledge.level"
    [isPermanent]="false"
    [isEditable]="characterSheet.isEditable"
    (onDelete)="deleteEntireCustomProperty(i)"
    (onValueChange)="updateCustomProperty($event, i)"
  ></arm-circle-input>
  <arm-add-custom-property-button
  (nameAdded)="addItemToCustomProperties($event)"
    [isEditable]="characterSheet.isEditable"
    [propertyType]="propertyType"
  ></arm-add-custom-property-button>
</div>
