.damage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  span {
    height: 20px;
  }

  > span {
    width: 44%;
  }

  span:last-child {
    width: 16%;
  }

  span:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
 }

 .damage-value {
  border: none;
  background-color: transparent;
  padding: 0;
  height: 30px;
  cursor: pointer;
 }

 .damage-name {
   margin-left: 0.2rem;
   font-family: "Property names font";
   font-size: 1.4rem;
 }
