.circle-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.delete-property-button {
  margin-right: -29px;
  margin-left: 5px;
  color: #c22626;
  &:hover {
    color: white;
    background-color: #c22626;
    border-radius: 100%;
    opacity: 50;
    cursor: pointer;
  }
}

.circle {
  border: 1px solid;
  width: 10px;
  height: 14px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 2px;
}

.circle-input-values {
  display: flex;
}

.circle-input-label {
  white-space: nowrap;
}

.circle.filled.temporal {
  background-color: #ffe500;
}

.line {
  border-bottom: 1px solid;
  top: 7px;
  position: relative;
  width: 100%;
}
