.circle-input-container {
  display: flex;
  justify-content: space-between;
  height: 24px;
  &.no-label {
    justify-content: space-around;
  }

  mat-checkbox {
    margin-right: 4px;
    margin-bottom: 4px;
  }
}

.delete-property-button {
  margin-right: -29px;
  margin-left: 5px;
  color: #c22626;
  &:hover {
    color: white;
    background-color: #c22626;
    border-radius: 100%;
    opacity: 50;
    cursor: pointer;
  }
}

.circle {
  border: 1px solid;
  width: 10px;
  height: 14px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 2px;

  &.expand {
    margin: 0.4rem;
  }
}

.circle-input-values {
  display: flex;
  align-items: center;
}

.circle-input-label {
  white-space: nowrap;
  font-family: "Property names font";
  font-size: 1.3rem;
  letter-spacing: -1px;
  line-height: 23px;
}

.circle.filled.temporal {
  background-color: #ffe500;
}

.line {
  border-bottom: 1px solid;
  top: -5px;
  position: relative;
  width: 100%;
}
