@font-face {
  font-family: "Main data font";
  src: local("Main data font"), url("LucidaBlackletter.ttf") format("truetype");
}

@font-face {
  font-family: "Property names font";
  src: local("Property names font"), url("MrsEavesroman.otf") format("opentype");
}

@font-face {
  font-family: "Section font";
  src: local("Section font"), url("Solemnity.ttf") format("truetype");
}

@font-face {
  font-family: "Titles font";
  src: local("Titles font"), url("Mordred.ttf") format("truetype");
}

@font-face {
  font-family: "Main title font";
  src: local("Main title font"), url("DarkAgesVampire.ttf") format("truetype");
}
