@font-face {
  font-family: "Main data font";
  src: local("Main data font"), url("./assets/fonts/LucidaBlackletter.ttf") format("truetype");
}

@font-face {
  font-family: "Property names font";
  src: local("Property names font"), url("./assets/fonts/MrsEavesRoman.otf") format("opentype");
}

@font-face {
  font-family: "Section font";
  src: local("Section font"), url("./assets/fonts/Solemnity.TTF") format("truetype");
}

@font-face {
  font-family: "Titles font";
  src: local("Titles font"), url("./assets/fonts/Mordred.ttf") format("truetype");
}

@font-face {
  font-family: "Main title font";
  src: local("Main title font"), url("./assets/fonts/DarkAgesVampire.ttf") format("truetype");
}
