<div class="attributes-section">
  <div class="attributes-title">
    <h1>Atributos</h1>
  </div>
  <div class="attributes-image-section">
    <img src="assets/images/vampire-dark-ages/sections/attributes.png">
  </div>
  <div class="attributes-container">
    <div class="physical">
      <h2>Físicos</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Fuerza'"
        [value]="characterSheet.attributes.physical.strength"
        (onValueChange)="updatePhysicalValueProperty($event, 'strength')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Destreza'"
        [value]="characterSheet.attributes.physical.dexterity"
        (onValueChange)="updatePhysicalValueProperty($event, 'dexterity')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Resistencia'"
        [value]="characterSheet.attributes.physical.stamina"
        (onValueChange)="updatePhysicalValueProperty($event, 'stamina')"
        [minValue]="1"
      ></arm-circle-input>
    </div>
    <div class="social">
      <h2>Sociales</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Carisma'"
        [value]="characterSheet.attributes.social.charisma"
        (onValueChange)="updateSocialValueProperty($event, 'charisma')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Manipulación'"
        [value]="characterSheet.attributes.social.manipulation"
        (onValueChange)="updateSocialValueProperty($event, 'manipulation')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Apariencia'"
        [value]="characterSheet.attributes.social.appearance"
        (onValueChange)="updateSocialValueProperty($event, 'appearance')"
        [minValue]="1"
      ></arm-circle-input>
    </div>
    <div class="mental">
      <h2>Mentales</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Percepción'"
        [value]="characterSheet.attributes.mental.perception"
        (onValueChange)="updateMentalValueProperty($event, 'perception')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Inteligencia'"
        [value]="characterSheet.attributes.mental.intelligence"
        (onValueChange)="updateMentalValueProperty($event, 'intelligence')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'Astucia'"
        [value]="characterSheet.attributes.mental.wits"
        (onValueChange)="updateMentalValueProperty($event, 'wits')"
        [minValue]="1"
      ></arm-circle-input>
    </div>
  </div>
</div>

