<div class="attributes-section">
    <div class="abilities-image-section">
    <img src="assets/images/vampire-dark-ages/sections/sheetBaseSection.png">
    <h1>{{ 'sheet.attributes.title' | translate }}</h1>
  </div>
  <div class="attributes-container">
    <div class="physical">
      <h2 class="sub-title">{{ 'sheet.attributes.physical.title' | translate }}</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.physical.strength'"
        [value]="characterSheet.attributes.physical.strength"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updatePhysicalValueProperty($event, 'strength')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.physical.dexterity'"
        [value]="characterSheet.attributes.physical.dexterity"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updatePhysicalValueProperty($event, 'dexterity')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.physical.stamina'"
        [value]="characterSheet.attributes.physical.stamina"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updatePhysicalValueProperty($event, 'stamina')"
        [minValue]="1"
      ></arm-circle-input>
    </div>
    <div class="social">
      <h2 class="sub-title">{{ 'sheet.attributes.social.title' | translate }}</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.social.charisma'"
        [value]="characterSheet.attributes.social.charisma"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updateSocialValueProperty($event, 'charisma')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.social.manipulation'"
        [value]="characterSheet.attributes.social.manipulation"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updateSocialValueProperty($event, 'manipulation')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.social.appearance'"
        [value]="characterSheet.attributes.social.appearance"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updateSocialValueProperty($event, 'appearance')"
        [minValue]="1"
      ></arm-circle-input>
    </div>
    <div class="mental">
      <h2 class="sub-title">{{ 'sheet.attributes.mental.title' | translate }}</h2>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.mental.perception'"
        [value]="characterSheet.attributes.mental.perception"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updateMentalValueProperty($event, 'perception')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.mental.intelligence'"
        [value]="characterSheet.attributes.mental.intelligence"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updateMentalValueProperty($event, 'intelligence')"
        [minValue]="1"
      ></arm-circle-input>
      <arm-circle-input
        [circleAmount]="8"
        [label]="'sheet.attributes.mental.wits'"
        [value]="characterSheet.attributes.mental.wits"
        [isEditable]="characterSheet.isEditable"
        (onValueChange)="updateMentalValueProperty($event, 'wits')"
        [minValue]="1"
      ></arm-circle-input>
    </div>
  </div>
</div>

