<div class="notes-section">
  <div class="notes-image-section">
    <img src="assets/images/vampire-dark-ages/sections/sheetSectionSeparator.png">
    <h1>{{ 'sheet.notes.title' | translate }}</h1>
  </div>
  <div class="notes-container">
    <div class="notes">
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu
          *ngIf="characterSheet.isEditable"
          [editor]="editor"
          [toolbar]="toolbar"
        ></ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          outputFormat="doc"
          placeholder="Escribe aquí tus notas..."
          [ngModel]="notesDoc"
          (ngModelChange)="onNotesChange($event)"
          [disabled]="!characterSheet.isEditable"
        ></ngx-editor>
      </div>
    </div>
  </div>
</div>
