@use "sass:map";
@use "@angular/material" as mat;

@import "../responsive/breakpoints.scss";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

$my-app-light-primary: mat.define-palette(mat.$purple-palette);
$my-app-light-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$my-app-light-warn: mat.define-palette(mat.$red-palette);

$my-app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-light-primary,
      accent: $my-app-light-accent,
      warn: $my-app-light-warn,
    ),
  )
);

$my-app-light-success: mat.define-palette(mat.$green-palette);
$my-app-light-info: mat.define-palette(mat.$blue-palette);

.main-title {
  text-shadow: 1px 1px 2px #b82727;
}

.add-property-container {
  border-color: green;
  color: green;
  &:hover {
    color: #f5f5f5;
    border-color: #9acb9a;
    background-color: green;
  }

  &.element-locked {
    border-color: grey;
    color: grey;
    pointer-events: none;
    &:hover {
      border-color: grey;
      color: grey;
      background-color: transparent;
    }
  }
}

.mat-checkbox-frame {
  border-color: black;
}

.attributes-image-section, .abilities-image-section, .advantages-image-section,
.disciplines-image-section, .equipment-image-section, .notes-image-section {
  @include xs {
    h1 {
      color: black;
    }
  }
  @include sm {
    h1 {
      color: black;
    }
  }
  @include md {
    h1 {
      color: black;
    }
  }
  @include lg {
    h1 {
      color: white;
    }
  }
  @include xl {
    h1 {
      color: white;
    }
  }
}

.square {
  border-color: black;
  &:not(.filled)::after {
    content: "\2610";
    color: black;
  }

  &.filled::after {
    content: "\2612";
    color: black;
  }
}

.no-damaged {
  &::after {
    content: '\2610';
    color: black;
    font-size: 2rem;
  }
}

.no-damaged-menu {
  &::after {
    content: '\2610';
    color: white;
    font-size: 2rem;
  }
}

.lethal-damage {
  &::after {
    content: '\25EA';
    color: black;
    font-size: 2rem;
  }
}

.lethal-damage-menu {
  &::after {
    content: '\25EA';
    color: white;
    font-size: 2rem;
    margin-left: 3px;
    margin-right: 4px;
  }
}

.aggravated-damage {
  &::after {
    content: '\2612';
    color: black;
    font-size: 2rem;
  }
}

.aggravated-damage-menu {
  &::after {
    content: '\2612';
    color: white;
    font-size: 2rem;
  }
}

.circle {
  border-color: black;

  &.filled {
    &.temporal {
      border-color: black;
    }
    &:not(.temporal){
      background-color: black;
    }
  }
}
.line {
  border-bottom-color: black;
}

footer {
  background-color: black;
  a {
    color: #f5f5f5;
  }
}

input {
  background-color: transparent !important;
  font-size: 14px;
  padding-top: 8px;
  color: black;

  &.read-only {
    opacity: 60%;
  }
}

.text-input-container {
  input {
    transition: border-color 0.6s ease;
    border-bottom-color: #303030 !important;
    &:hover {
      border-bottom: 4px solid;
    }
    &.read-only {
      border-bottom-color: transparent !important;
    }
    &:focus-visible {
      outline: 0;
      border-bottom: 2px solid #c83c3c !important;
      color: black;
    }
  }
}

.locked {
  color: #da1d1d;
}

.unlocked {
  color: #8bd716;
}

.reset-sheet {
  color: #e1a15e !important;
}

.upload-sheet {
  color: orchid !important;
}

.save-sheet {
  color: deepskyblue !important;
}

header {
  button {
    &:hover {
      background-color: #3e3e3e !important;
    }
  }
  .header-buttons {
    a:hover {
      background-color: #3e3e3e !important;
    }
  }
}
