* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}

footer {
  width: 100%;
  position: relative;
  bottom: -50px;
  left: 0;

  .content {
    margin: auto;
    padding: 20px;
    display: table;

    a {
      display: flex;
      align-items: center;
      transition: all 0.3s ease;

      span {
        margin-left: 8px;
      }

      &:hover {
        color: #eb2f06;
      }
    }
  }
}

@media (max-width:560px){
  footer{
    position: relative;
  }
}

