.text-input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  label {
    margin-right: 8px;
  }

  input {
    width: 100%;
    border-bottom: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
  }
}
