<h2 class="sub-category">
  <span>{{ 'sheet.advantages.languages.title' | translate }}</span>
</h2>

<div class="language-tags">
  <span
    class="language-tag"
    *ngFor="let language of characterSheet.advantages.languages; index as i; trackBy: trackByFn"
  >
    {{ language.name }}
    <button
      *ngIf="characterSheet.isEditable"
      class="language-tag-remove"
      type="button"
      (click)="deleteLanguage(i)"
      aria-label="Eliminar"
    >✕</button>
  </span>
</div>

<div
  *ngIf="characterSheet.isEditable"
  matRipple
  [matRippleCentered]="true"
  class="add-property-container"
  (click)="openAddDialog()"
>
  <mat-icon class="add-property-button">add_circle_outline</mat-icon>
  <span>Añadir idioma</span>
</div>
