<h2 class="sub-category">
  <span>{{ 'sheet.disciplines.mortis.paths' | translate }}</span>
</h2>
<arm-circle-input
  *ngFor="let path of characterSheet.disciplines.mortis.paths; index as i; trackBy: trackByFn"
  [showCheckbox]="true"
  [circleAmount]="8"
  [label]="path.name"
  [value]="path.level"
  [isPermanent]="false"
  [isEditable]="characterSheet.isEditable"
  (onDelete)="deleteEntireCustomProperty(i)"
  (onValueChange)="updateCustomProperty($event, i)"
></arm-circle-input>
<arm-add-custom-property-button
  [isEditable]="characterSheet.isEditable"
  [propertyType]="propertyType"
  [customPropertyList]="characterSheet.disciplines.mortis.paths"
></arm-add-custom-property-button>
