<h2 class="sub-category">
  <span>{{ 'sheet.advantages.merits.title' | translate }}</span>
</h2>

<div class="trait-row" *ngFor="let merit of characterSheet.advantages.merits; index as i; trackBy: trackByFn">
  <span class="trait-category">{{ categoryLabel($any(merit).category) }}</span>
  <span class="trait-name">{{ merit.name }}</span>
  <span class="trait-points">{{ merit.level }}pt</span>
  <button
    *ngIf="characterSheet.isEditable"
    class="trait-delete"
    type="button"
    (click)="deleteMerit(i)"
    aria-label="Eliminar"
  >✕</button>
</div>

<div
  *ngIf="characterSheet.isEditable"
  matRipple
  [matRippleCentered]="true"
  class="add-property-container"
  (click)="openAddDialog()"
>
  <mat-icon class="add-property-button">add_circle_outline</mat-icon>
  <span>Añadir mérito</span>
</div>
