<arm-header
 [characterSheet]="characterSheet"
 [gameName]="'VAMPIRE_DARK_AGES'"
 [isEditable]="characterSheet.isEditable"
 (onClearSheet)="clearSheet()"
 (onUploadSheet)="uploadSheet($event)"
 (onToggleLockEdition)="toggleLockEdition()"
></arm-header>
<main>
  <div class="sheet-container">
    <div class="main-title">
      <span>{{ 'vampire-sheet-title.start' | translate }}</span>
      <div>
        <span>{{ 'vampire-sheet-title.middle-top' | translate }}</span>
        <span>{{ 'vampire-sheet-title.middle-bottom' | translate }}</span>
      </div>
      <span>{{ 'vampire-sheet-title.end' | translate }}</span>
    </div>
    <arm-player-data [characterSheet]="characterSheet"></arm-player-data>
    <arm-attributes [characterSheet]="characterSheet"></arm-attributes>
    <arm-abilities [characterSheet]="characterSheet"></arm-abilities>
    <arm-advantages [characterSheet]="characterSheet"></arm-advantages>
    <arm-other-advantages [characterSheet]="characterSheet"></arm-other-advantages>
    <arm-disciplines [characterSheet]="characterSheet"></arm-disciplines>
    <arm-equipment [characterSheet]="characterSheet"></arm-equipment>
    <arm-notes [characterSheet]="characterSheet"></arm-notes>
  </div>
</main>
<arm-footer></arm-footer>
