<arm-header
 [characterSheet]="getCharacterSheet()"
 [gameName]="'VAMPIRE_DARK_AGES'"
 [isEditable]="getCharacterSheet().isEditable"
 (onClearSheet)="clearSheet()"
 (onUploadSheet)="uploadSheet($event)"
 (onToggleLockEdition)="toggleLockEdition()"
></arm-header>
<main>
  <div class="sheet-container">
    <div class="main-title">
      <span>{{ 'vampire-sheet-title.start' | translate }}</span>
      <div>
        <span>{{ 'vampire-sheet-title.middle-top' | translate }}</span>
        <span>{{ 'vampire-sheet-title.middle-bottom' | translate }}</span>
      </div>
      <span>{{ 'vampire-sheet-title.end' | translate }}</span>
    </div>
    <arm-player-data [characterSheet]="getCharacterSheet()"></arm-player-data>
    <arm-attributes [characterSheet]="getCharacterSheet()"></arm-attributes>
    <arm-abilities [characterSheet]="getCharacterSheet()"></arm-abilities>
    <arm-advantages [characterSheet]="getCharacterSheet()"></arm-advantages>
    <arm-other-advantages [characterSheet]="getCharacterSheet()"></arm-other-advantages>
    <arm-disciplines [characterSheet]="getCharacterSheet()"></arm-disciplines>
    <arm-equipment [characterSheet]="getCharacterSheet()"></arm-equipment>
    <arm-notes [characterSheet]="getCharacterSheet()"></arm-notes>
  </div>
</main>
<arm-footer></arm-footer>
