<arm-header
 [characterSheet]="getCharacterSheet()"
 [gameName]="'VAMPIRE_DARK_AGES'"
 [isEditable]="getCharacterSheet().isEditable"
 (onClearSheet)="clearSheet()"
 (onUploadSheet)="uploadSheet($event)"
 (onToggleLockEdition)="toggleLockEdition()"
></arm-header>
<main>
  <div class="sheet-container">
    <div class="logo">
      <img src="assets/images/vampire-dark-ages/logo/gameLogo.png">
    </div>
    <arm-player-data [characterSheet]="getCharacterSheet()"></arm-player-data>
    <arm-attributes [characterSheet]="getCharacterSheet()"></arm-attributes>
    <arm-abilities [characterSheet]="getCharacterSheet()"></arm-abilities>
    <arm-advantages [characterSheet]="getCharacterSheet()"></arm-advantages>
    <arm-other-advantages [characterSheet]="getCharacterSheet()"></arm-other-advantages>
  </div>
</main>
<arm-footer></arm-footer>
