<h2 class="sub-category">
  <span>{{ 'sheet.advantages.flaws.title' | translate }}</span>
</h2>
<arm-circle-input
  *ngFor="let flaw of characterSheet.advantages.flaws; index as i; trackBy: trackByFn"
  [circleAmount]="8"
  [label]="flaw.name"
  [value]="flaw.level"
  [isPermanent]="false"
  [isEditable]="characterSheet.isEditable"
  (onDelete)="deleteCustomProperty(i)"
  (onValueChange)="updateValuerFromCustomProperty($event, i)"
></arm-circle-input>
<arm-add-custom-property-button
  *ngIf="characterSheet.isEditable"
  [propertyType]="propertyType"
  [customPropertyList]="characterSheet.advantages.flaws"
></arm-add-custom-property-button>
