@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.sheet-container {
  padding: 25px 150px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50vw;
  }
}

.attributes-container, .abilities-container, .advantages-container, .player-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  grid-auto-rows: minmax(100px, auto);
}

.player-data {
  font-size: 24px;
}

.attributes-container, .abilities-container, .advantages-container {
  font-size: 18px;
}

.attributes-image-section, .abilities-image-section, .advantages-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  img {
    width: 75vw;
  }
}

.attributes-title, .abilities-title, .advantages-title {
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    border-bottom: 4px solid black;
    top: 5px;
    position: relative;
    width: 100%;
  }

  &::before {
    content: '';
    border-bottom: 4px solid black;
    top: 5px;
    position: relative;
    width: 100%;
  }

  h1 {
    padding: 0 15px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    font-weight: 100;
  }
}

.physical, .talents, .disciplines, .character-info {
  grid-column: 1 / 2;
  @extend .column;
}

.social, .skills, .backgrounds, .character-background {
  grid-column: 2 / 3;
  @extend .column;
}

.mental, .knowledges, .virtues, .character-concept {
  grid-column: 3 / 4;
  @extend .column;
}

.add-property-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  border: 2px solid green;
  border-radius: 20px;
  padding: 4px;
  color: green;
  &:hover {
    color: white;
    cursor: pointer;
    border-color: white;
    background-color: green;
  }

  mat-icon.add-property-button {
    cursor: pointer;
  }
  span {
    margin-left: 2px;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;

  mat-toolbar {
    margin-top: -10px !important;
  }
}
