@use "@angular/material" as mat;

@use "./styles/themes/light";
@import "./styles/responsive/breakpoints";
@import "assets/fonts/fonts.scss";
@import "assets/images/vampire-dark-ages/background.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include mat.core-theme(light.$my-app-light-theme);
@include mat.button-theme(light.$my-app-light-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: clip;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  mat-toolbar {
    @include xs {
      .header-buttons {
        display: none;
      }
    }

    @include sm {
      .menu-button {
        display: none;
      }
    }

    @include md {
      .menu-button {
        display: none;
      }
    }

    @include lg {
      .menu-button {
        display: none;
      }
    }

    @include xl {
      .menu-button {
        display: none;
      }
    }
  }
}

main {
  position: relative;
  top: 50px;
}

.sheet-title {
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
}

.sheet-reduced-title {
  @include md {
    display: none;
  }
  @include lg {
    display: none;
  }
  @include xl {
    display: none;
  }
}

.sheet-container {
  $sheet-max-width: 1080px;
  $padding-side-sheet: max(calc((100% - $sheet-max-width) / 2), 35px);
  padding: 5vh $padding-side-sheet;
  overflow-x: auto;
  max-width: $sheet-max-width;
}

.main-title {
  @include xs {
    span {
      font-size: 5rem;
    }

    div {
      > span {
        font-size: 3rem;
        letter-spacing: 0.6rem;
      }

      span:last-child {
        font-size: 1rem;
        letter-spacing: 0.7rem;
      }
    }
  }

  @include sm {
    span {
      font-size: 6rem;
    }

    div {
      > span {
        font-size: 3.3rem;
        letter-spacing: 0.8rem;
      }

      span:last-child {
        font-size: 1rem;
        line-height: 8px;
        letter-spacing: 0.7rem;
      }
    }
  }

  @include md {
    span {
      font-size: 6rem;
    }

    div {
      > span {
        font-size: 3.3rem;
        letter-spacing: 0.8rem;
      }

      span:last-child {
        font-size: 1rem;
        line-height: 8px;
        letter-spacing: 0.7rem;
      }
    }
  }

  @include lg {
    span {
      font-size: 10rem;
    }

    div {
      > span {
        font-size: 5.5rem;
        letter-spacing: 0.8rem;
      }

      span:last-child {
        font-size: 2rem;
        line-height: 8px;
        letter-spacing: 1rem;
      }
    }
  }

  @include xl {
    span {
      font-size: 10rem;
    }

    div {
      > span {
        font-size: 5.5rem;
        letter-spacing: 0.8rem;
      }

      span:last-child {
        font-size: 2rem;
        line-height: 8px;
        letter-spacing: 1rem;
      }
    }
  }
}

.attributes-image-section, .abilities-image-section, .advantages-image-section,
.disciplines-image-section, .equipment-image-section, .notes-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Section font";

  @include xs {
    justify-content: center;
    margin-top: 20px;

    img {
      display: none;
    }

    &::after, &::before {
      content: '';
      border-bottom: 4px;
      border-bottom-style: solid;
      top: 5px;
      position: relative;
      width: 100%;
    }

    h1 {
      padding: 0 15px;
      font-size: 3rem;
    }
  }

  @include sm {
    justify-content: center;
    margin-top: 20px;

    img {
      display: none;
    }
    &::after, &::before {
      content: '';
      border-bottom: 4px;
      border-bottom-style: solid;
      top: 5px;
      position: relative;
      width: 100%;
    }

    h1 {
      padding: 0 15px;
      font-size: 3rem;
    }
  }

  @include md {
    justify-content: center;
    margin-top: 20px;

    img {
      display: none;
    }
    &::after, &::before {
      content: '';
      border-bottom: 4px;
      border-bottom-style: solid;
      top: 5px;
      position: relative;
      width: 100%;
    }

    h1 {
      padding: 0 15px;
      font-size: 3rem;
    }
  }

  @include lg {
    img {
      width: 75vw;
      max-height: 86px;
      max-width: 700px;
    }

    h1 {
      position: absolute;
      font-size: 28px;
      padding-top: 0.8rem;
    }
  }

  @include xl {
    img {
      width: 75vw;
      max-height: 86px;
      max-width: 700px;
    }

    h1 {
      position: absolute;
      font-size: 28px;
      padding-top: 0.8rem;
    }
  }
}

.player-data, .attributes-container, .abilities-container,
.advantages-container, .other-advantages-container,
.disciplines-container, .equipment-container, .notes-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5vw;
  grid-auto-rows: minmax(100px, auto);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    line-height: 26px;
    &.sub-category {
      font-family: "Titles font";

      span {
        padding: 0 8px;
      }
      &::after, &.sub-category::before {
        content: '';
        border-bottom: 4px;
        border-bottom-style: double;
        position: relative;
        width: 100%;
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    font-weight: 200;
    white-space: nowrap;
  }
}

.sub-title {
  font-family: "Titles font";
  font-size: 26px;
}

.character-info, .character-background, .character-concept,
.physical, .social, .mental,
.talents, .skills, .knowledges,
.backgrounds-experience, .road-willpower-bloodpool, .virtues-health-weakness,
.advantages-languages, .advantages-merits, .advantages-flaws,
.disciplines-first-column, .disciplines-second-column, .disciplines-third-column,
.gear-carried, .combat-table, .notes {
  @extend .column;
  @include xs {
    grid-column: 1 / 7;
  }
  @include sm {
    grid-column: 1 / 7;
  }
}

.character-info, .character-background, .character-concept,
.physical, .social, .mental, .gear-carried, .combat-table, .notes {
  @extend .column;
  @include md {
    grid-column: 1 / 7;
  }
}

.gear-carried {
  @include lg {
    grid-column: 1 / 3;
  }

  @include xl {
    grid-column: 1 / 3;
  }
}

.combat-table {
  @include lg {
    grid-column: 3 / 7;
  }

  @include xl {
    grid-column: 3 / 7;
  }
}

.notes {
  @include lg {
    grid-column: 1 / 7;
  }

  @include xl {
    grid-column: 1 / 7;
  }
}



.character-info, .physical {
  @extend .column;
  @include lg {
    grid-column: 1 / 3;
  }
  @include xl {
    grid-column: 1 / 3;
  }
}

.character-background, .social {
  @extend .column;
  @include lg {
    grid-column: 3 / 5;
  }
  @include xl {
    grid-column: 3 / 5;
  }
}

.character-concept, .mental {
  @extend .column;
  @include lg {
    grid-column: 5 / 7;
  }
  @include xl {
    grid-column: 5 / 7;
  }
}


.talents, .backgrounds-experience, .advantages-languages, .disciplines-first-column {
  @extend .column;
  @include md {
    grid-column: 1 / 4;
  }
  @include lg {
    grid-column: 1 / 4;
  }
  @include xl {
    grid-column: 1 / 3;
  }
}

.skills, .road-willpower-bloodpool, .advantages-merits, .disciplines-second-column {
  @extend .column;
  @include md {
    grid-column: 4 / 7;
  }
  @include lg {
    grid-column: 4 / 7;
  }
  @include xl {
    grid-column: 3 / 5;
  }
}

.knowledges, .virtues-health-weakness, .advantages-flaws, .disciplines-third-column {
  @extend .column;
  @include md {
    grid-column: 1 / 7;
  }
  @include lg {
    grid-column: 1 / 7;
  }
  @include xl {
    grid-column: 5 / 7;
  }
}

.player-data {
  font-size: 24px;
  font-family: "Main data font";
}

.attributes-container, .abilities-container,
.advantages-container, .other-advantages-container,
.disciplines-container, .equipment-container, .notes-container {
  font-size: 18px;
}

.add-property-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  border: 2px solid;
  border-radius: 20px;
  padding: 4px;
  &:hover {
    cursor: pointer;
  }


  mat-icon.add-property-button {
    cursor: pointer;
  }
  span {
    margin-left: 2px;
  }
}

.locked, .unlocked {
  margin-bottom: 2px;
}

.sheet-title, .sheet-reduced-title {
  padding-top: 2px;
}

hr {
  border-style: double;
  border-width: 4px;
}

.health-container {
  @include xs {
    padding: 0;
  }

  @include sm {
    padding: 0 4.5rem;
  }

  @include md {
    padding: 0 9rem;
  }

  @include lg {
    padding: 0 15rem;
  }

  @include xl {
    padding: 0 2rem;
  }
}

arm-road .aura arm-input .text-input-container {
  align-items: flex-end;
}
