<header>
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Vampiro: Edad oscura</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="clearSheet()">
      <mat-icon>restore_page_outlined</mat-icon>
    </button>
    <button mat-icon-button (click)="uploadSheet()">
      <mat-icon>upload_file</mat-icon>
    </button>
    <a mat-icon-button [href]="downloadFile.uri" [download]="downloadFile.name">
      <mat-icon>save_outlined</mat-icon>
    </a>
  </mat-toolbar>
</header>
