<div>
  <h2>Técnicas</h2>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Armas C. C.'"
    [(value)]="skills.melee"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Comercio'"
    [(value)]="skills.commerce"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Equitación'"
    [(value)]="skills.ride"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Etiqueta'"
    [(value)]="skills.etiquette"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Interpretación'"
    [(value)]="skills.performance"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Pericias'"
    [(value)]="skills.crafts"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Sigilo'"
    [(value)]="skills.stealth"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Supervivencia'"
    [(value)]="skills.survival"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Trato con Animales'"
    [(value)]="skills.animalKen"
  ></arm-circle-input>
  <arm-circle-input
    [circleAmount]="8"
    [label]="'Tiro con Arco'"
    [(value)]="skills.archery"
  ></arm-circle-input>
  <arm-circle-input
    *ngFor="let skill of skills.customSkills; index as i; trackBy: trackByFn"
    [circleAmount]="8"
    [isPermanent]="false"
    [label]="skill.name"
    [(value)]="skill.level"
    (onDelete)="deleteCustomSkill(i)"
  ></arm-circle-input>
  <arm-add-custom-property-button
    [propertyType]="propertyType"
    [customPropertyList]="skills.customSkills"
  ></arm-add-custom-property-button>
</div>
